<launch>
  <arg name="test_name" default="dwa_comparison"/>
  <arg name="x" default="11.029"/>
  <arg name="y" default="-0.899"/>

  <!-- 1. Synchronizačný skript (ten čo sme robili predtým pre MATLAB) -->
  <node pkg="mrvk_gazebo" type="fixed_tf.py" name="fixed_tf" output="screen" />
  <!-- 2. SPHERE Model -->
  <param name="sphere_description" type="string" value="
    &lt;robot name=&quot;moving_sphere&quot;&gt;
      &lt;link name=&quot;base_link&quot;&gt;
        &lt;visual&gt;
          &lt;geometry&gt;&lt;sphere radius=&quot;0.3&quot;/&gt;&lt;/geometry&gt;
          &lt;material name=&quot;red&quot;&gt;&lt;color rgba=&quot;1 0 0 1&quot;/&gt;&lt;/material&gt;
        &lt;/visual&gt;
        &lt;collision&gt;
          &lt;geometry&gt;&lt;sphere radius=&quot;0.3&quot;/&gt;&lt;/geometry&gt;
        &lt;/collision&gt;
        &lt;inertial&gt;
          &lt;mass value=&quot;1.0&quot;/&gt;
          &lt;inertia ixx=&quot;0.01&quot; ixy=&quot;0&quot; ixz=&quot;0&quot; iyy=&quot;0.01&quot; iyz=&quot;0&quot; izz=&quot;0.01&quot;/&gt;
        &lt;/inertial&gt;
      &lt;/link&gt;
      &lt;gazebo reference=&quot;base_link&quot;&gt;
        &lt;material&gt;Gazebo/Red&lt;/material&gt;
      &lt;/gazebo&gt;
    &lt;/robot&gt;" />
  <!-- Spawn sféry (len ju vložíme do sveta, zatiaľ stojí) -->
<!-- Robot spawn -->
<!-- <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" 
      args="-urdf -model robot -x 0.0 -y -5.978 -z 0.16 -Y 1.57" /> -->

<!-- Sféra spawn -->
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_sphere"
      args="-param sphere_description -urdf -model moving_sphere -x 0.0 -y 0.0 -z 0.3" />
  <!-- 3. ROSBAG RECORDER -->
  <node pkg="rosbag" type="record" name="recorder"
        args="record -O $(find mrvk_gazebo)/bags/$(arg test_name).bag /path_robot_fixed /path_sphere_fixed" />

  <!-- 4. HLAVNÝ EXPERIMENTÁLNY SKRIPT (Orchestrator) -->
  <!-- Tento skript nahradí move_sphere aj goal_sender -->
  <node pkg="mrvk_gazebo" type="run_experiment.py" name="experiment_master" output="screen">
      <param name="goal_x" value="$(arg x)" />
      <param name="goal_y" value="$(arg y)" />
  </node>
</launch>